<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ pageTitle }}</title>
		<link href="{{ '/index.css' | url }}" type="text/css" rel="stylesheet">
	</head>
    <body>
		<header class="navfooter">
			<nav>
				<ul>
					<li><a href="/stores">Stores</a></li>
					<li>|</li>
					<li><a href="/groups">Gaming Groups</a></li>				
				</ul>
			</nav>
		</header>
    	<h2><a href="{{ '/' | url }}">Berlin Boardgames</a></h2>

		{{ content }}

<!-- 		<footer class="navfooter">
			<nav>
				<ul>
					<li><a href="{{ '/blog' | url }}">Blog</a></li>
					<li>|</li>
					<li><a href="{{ '/about-me' | url }}">About</a></li>
					<li>|</li>
					<li><a href="{{ '/archive' | url }}">Archive</a></li>						
				</ul>
			</nav>
		</footer> -->
	</body>

</html>